body {
  text-align: center;
  background-image: url("images/overdrive.gif");
  background-attachment: fixed;
  background-size: 175px;
  font-family: "Pixelify Sans", sans-serif;

}

.pixelify-sans-<uniquifier> {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h1.doubled {
  border-style: double;
}
/* h1 {} */
div{
  background: rgba( 18, 170, 23, 0.6)
}
p {
  max-width: 60ch;
  display:black;
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
  background-color: blue, 0.3

}

p.dashed {
  border-style: dashed;
}